.anim-c1 {
    opacity: 0;

    &.enter-done,
    &.enter-active {
        opacity: 1;
    }
}

.menu-anim {
    opacity: 0;
    transition: opacity .2s;

    .inner {
        transition: transform .2s;
        transform: scale(.75);
    }

    &.enter-done,
    &.enter-active {
        opacity: 1;

        .inner {
            transform: scale(1);
        }
    }
}

.search-box-anim {
    .c1 {
        opacity: 0;
        transition: opacity .3s;
    }

    .c2 {
        transform: scale(0);
        transition: transform .3s;
        opacity: 0;
    }

    &.enter-active,
    &.enter-done {
        .c1 {
            opacity: 1;
        }

        .c2 {
            transform: scale(1);
            opacity: 1;
        }
    }
}