.anim-c1 {
    opacity: 0;

    &.enter-done,
    &.enter-active {
        opacity: 1;
    }
}

.menu-anim {
    opacity: 0;
    transition: opacity .2s;

    .inner {
        transition: transform .2s;
        transform: scale(.75);
    }

    &.enter-done,
    &.enter-active {
        opacity: 1;

        .inner {
            transform: scale(1);
        }
    }
}