.anim-c1 {
    opacity: 0;

    &.enter-done,
    &.enter-active {
        opacity: 1;
    }
}

.menu-anim {
    transition: transform 1s;
    transform: translateX(-100%);

    &.enter-done,
    &.enter-active {
        transform: translateX(0);
    }
}