.btmGradient {
background: #161616;
background: linear-gradient(0deg, rgba(22, 22, 22, 0) 0%, rgba(22, 22, 22, 1) 50%, rgba(22, 22, 22, 0) 100%);
}

.lightboxBg {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 49.52%, #000000 100%);
}